.search-list {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.searchlist-container {
  height: 100%;
  width: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-list-box {
  margin-bottom: 75px;
}
