.header {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  div:nth-of-type(1) {
    font-size: 20px;
    color: salmon;
  }
  .github-logo {
    width: 30px;
    height: 30px;
  }
}
