.header {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  div:nth-of-type(1) {
    font-size: 20px;
    color: salmon;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px 10px 0;
  }
  .github-logo {
    width: 30px;
    height: 30px;
  }
}
